//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html(lang="en")
    head
        title Getting Started With Hubspot OAuth
    body
        h1 Getting Started With HubSpot OAuth
        if token
            p Your account has these cool contacts:
            ul
                each contact in contacts
                    li #{contact.properties.firstname}  #{contact.properties.lastname}
        else
            p You're not authenticated 
            p Please install me #[a(href=`${authUrl}`) here]
            P Update your records #[a(href="/update-cobj") here]
            p The name of your last entry was #{name}