//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html(lang="en")
    head
        title Getting Started With Hubspot OAuth
    body
        h1 Getting Started With HubSpot OAuth
        if token
            table(style='width:100%', border='1')
                tr
                    th Name
                    th Condition
                    th Year
                    th Make
                    th Model
                    th VIN
                tr
                    td Ashby
                    td New
                    td 1981
                    td DeLorean
                    td DMC-12
                    td WA1LFAFP4CA089425
                    
        else
            p You're not authenticated 
        P Update your records #[a(href="/update-cobj") here]