doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="../public/css/style.css")
    body
        div  
            form(action="#" method="post" style="display: flex;flex-direction:column;justify-content:center;align-items:baseline;")
                label(for="name") Car Name/Nickname:
                input(type="text" id="name" name="name")
                
                div(style="margin-top:6px;")
                    label Condition: 
                    input#new(type='radio', name="condition", value='new')
                    label(for='new') New
                    input#used(type='radio', name='condition', value='used')
                    label(for='used') Used

                label(for="year") Year:
                input(type="text" id="year" name="year")

                label(for="make") Make:
                input(type="text" id="make" name="make")

                label(for="model") Model:
                input(type="text" id="model" name="model")

                label(for="vin") VIN:
                input(type="text" id="vin" name="vin")

                input(type="submit" value="Submit" style="margin-top:10px;")
        div(style="margin-top:20px; width: 50%;")
            a(href='/') Return to the homepage
