doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="../public/css/style.css")
    body    
        form(action="#" method="post" style="margin-bottom:20px;")
            label(for="name") Name:
            input(type="text" id="name" name="Name")
            label(for="make") Make:
            input(type="text" id="make" name="Make")
            label(for="model") Model:
            input(type="text" id="model" name="Model")
            input(type="submit" value="Submit")

        table(style='width:50%', border='1')
            tr
                th Name
                th Make
                th Model
            tr
                td Ashby
                td DeLorean
                td DMC-12
        div(style="margin-top:20px; width: 50%;")
            a(href='/') Return to the homepage
