doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="../public/css/style.css")
    body    
        form(action="#" method="post" style="margin-bottom:20px;")
            label(for="name") Name:
            input(type="text" id="name" name="name")
            label(for="make") Make:
            input(type="text" id="make" name="make")
            label(for="model") Model:
            input(type="text" id="model" name="model")
            input(type="submit" value="Submit")
        div(style="margin-top:20px; width: 50%;")
            a(href='/') Return to the homepage
