doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="../public/css/style.css")
    body    
        table(style='width:100%', border='1')
        tr
            th Id
            th Name
            th Age